#grid1,#grid3{
    display: grid;
    grid-template-columns: 40% 60%;
}
#grid2{
    display: grid;
    grid-template-columns: 60% 40%;
    
}
#grid1>div,#grid2>div,#grid3>div{
    height: 300px;
    background-size: 112%;
    background-position: center;
    opacity: 0.5;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-weight: 300;

    -webkit-transition: opacity 1s linear,background-size 1s ease;
    -moz-transition: opacity 1s linear,background-size 1s ease;
    -ms-transition: opacity 1s linear,background-size 1s ease;
    transition: opacity 2s linear,background-size 1s ease;

}
#grid1>div:hover,#grid2>div:hover,#grid3>div:hover{
    opacity: 1;
    background-size: 120%;
}
@media screen and (max-width:600px) {
    #grid1, #grid2,#grid3{
        display: block;
    }
    #grid1>div,#grid2>div,#grid3>div{
        background-size: cover;
    }
}
@media screen and (max-width:1000px) {
    #grid1>div,#grid2>div,#grid3>div{
        background-size: 130%;
    }
}
@media screen and (max-width:830px) {
    #grid1>div,#grid2>div,#grid3>div{
        background-size: 150%;
    }
    #grid1>div:hover,#grid2>div:hover,#grid3>div:hover{
        background-size: 140%;
    }
}
@media screen and (max-width:730px) {
    #grid1>div,#grid2>div,#grid3>div{
        background-size: 200%;
    }
    #grid1>div:hover,#grid2>div:hover,#grid3>div:hover{
        background-size: 190%;
    }
}